<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input matInput
           type="number"
           [min]="minimo"
           [max]="maximo"
           [step]="step" 
           [placeholder]="titulo" 
           [name]="controlName" 
           [formControlName]="controlName">
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'required')">
      Campo Obrigatório</mat-error>
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'min')">
      Campo precisa no min o valor {{validacao.lenghtValidar(formControl, 'min')}}</mat-error>
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'max')">
      Campo no maximo valor {{validacao.lenghtValidar(formControl, 'max')}}</mat-error>
  </mat-form-field>
</div>
